*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
tools/raw/
tools/cache/
__pycache__/

# Local Android SDK location (machine specific)
local.properties
tools/cache/
.kotlin/
